<html>
<head>
  <title>Tater</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>
<body>
  <div style="margin-top:20px; text-align:center;">
    <img src="/deploying/eidr-logo.png">
    <p style="font-size:40px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">Tater is being updated, please try again in a few minutes.
  </div>
  <script>
    function checkSiteStatus() {
      $.ajax({
        url: '{{ apache_url }}/sockjs/info',
         success: function(data,status,xhr) {
          if (data.websocket) {
            window.location='{{ apache_url }}';
          }
        }
      });
      console.log('Site still down.');
    }
    setInterval(checkSiteStatus,30000);
  </script>
</body>
</html>
