ServerTokens Prod
ServerSignature Off
ServerName {{ apache_url }}

#Disabling CORS support for now, we may need this later
#Header always set "Access-Control-Allow-Origin" "*"

<VirtualHost *:80>
  #Disabling plaintext http and redirecting to https
  #Make sure apache_url has https in it
  Redirect permanent / {{ apache_url  }}/
</VirtualHost>

<VirtualHost *:8080>
  ServerPath "/deploying/"
  DocumentRoot /var/www/deploying/
</VirtualHost>

Listen 8443
<VirtualHost *:443 *:8443>
  ProxyPreserveHost On
  RewriteEngine on
  RewriteCond %{HTTP:UPGRADE} ^WebSocket$ [NC]
  RewriteCond %{HTTP:CONNECTION} ^Upgrade$ [NC]
  RewriteRule .* ws://localhost:{{ meteor_port }}%{REQUEST_URI} [P]
  ProxyPass /deploying http://localhost:8080/deploying/
  ProxyPass / http://localhost:{{ meteor_port }}/
  ProxyPassReverse / http://localhost:{{ meteor_port }}/
  SSLEngine on
  SSLCertificateFile /etc/apache2/ssl/apache.crt
  SSLCertificateKeyFile /etc/apache2/ssl/apache.key
  SSLCertificateChainFile /etc/apache2/ssl/comodo.bundle
  SSLCipherSuite HIGH:!aNULL:!MD5
  ErrorDocument 503 {{ apache_url }}/deploying/
</VirtualHost>
